.header{
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 100;
    text-align: center;
    box-shadow:  0px 0.5px 0.5px var(--color);
    color: var(--color);
    font-size: 2vw;
    background-color: var(--background);
}

@media (max-width: 1000px){
    .header{
        font-size: 5.4vw;
    }
}