.navbar{
    position: sticky;
    bottom: 0;
    z-index: 100;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.recents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    
    font-weight: 600;
}

.recents a{
    color: var(--color);
    font-weight: 900;
}

.recents a:hover{
    
    color: steelblue;
}

.recents p{
    color: grey;
    font-weight: 900;

}
