*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    --color: #50b7f5;
    --background: #e6ecf0;
}

.app{
    min-height: 100vh;
    /* background: linear-gradient(to right, brown, rgb(41, 30,32), #221f1f); */
    background-color: grey;
   
}
 .page-title{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 2vw;
    padding: 4px;
    border-radius:  50px;
    color: white;
 }


 @media (max-width: 1000px){
    .page-title{
        font-size: 6.4vw;
    }
 }

